## RLA Scores vs. Demographics in US Public Elementary Schools  
2010 - 2011 Reading Language Arts Scores and State Demographics, all data retrieved from http://www.ed.gov/developer

In [ ]:
import requests
import json
import pandas as pd
import pprint
import numpy as np

#### State Education Data Profiles - Elementary & Secondary Education Characteristics

In [ ]:
url = "https://inventory.data.gov/api/action/datastore_search?resource_id=ea8517bd-a950-482a-bb63-e40736bbd7a4"
resp = requests.get(url)

content = resp.text
data = json.loads(content)

df = pd.DataFrame(data["result"]["records"])

In [ ]:
#Creating table with only variables we are interested in
df1 = df[['_id','State Name','Free Lunch Eligible ','Pupil/Teacher Ratio ','Reduced-price Lunch Eligible ','Total Number of Schools ','Total Students ','Total Students- Amer Ind/AK Native ','Total Students- Asian/Pacific Islander', 'Total Students- Black ', 'Total Students- Hispanic ', 'Total Students- Two or more Races ', 'Total Students- White ', 'Total Teachers ', 'Total, All Grades- female ', 'Total, All Grades- male ']]

#### Achievement Results for State Assessments in Reading/Language Arts

Definitions of Variables can be found here: http://www2.ed.gov/about/inits/Fed/edfacts/data-files/assessments-sy12-13-public-file-documentationv2-0.doc

Importing in multiple loops to prevent crashing.

In [ ]:
alldata = []
def importData(x,y,z):
    for start in range(x,y,z):
        url2 = "https://inventory.data.gov/api/action/datastore_search?resource_id=b8160d45-b9b9-443c-8157-f381d6b90e42&limit=1000&offset="+str(start)
        print url2
        resp2 = requests.get(url2)
        content2 = resp2.text
        data2 = json.loads(content2)
        alldata.extend(data2["result"]["records"])

In [ ]:
importData(0,4999,10)

In [ ]:
importData(5000,9999,10)

In [ ]:
importData(10000,14999,10)

In [ ]:
importData(15000,19999,10)

In [ ]:
importData(20000,24999,10)

In [ ]:
importData(25000,29999,10)

In [ ]:
importData(30000,34999,10)

In [ ]:
importData(35000,39999,10)

In [ ]:
importData(40000,44999,10)

In [ ]:
importData(45000,49999,10)

In [ ]:
importData(50000,54999,10)

In [ ]:
importData(55000,59999,10)

In [ ]:
importData(60000,64999,10)

In [ ]:
importData(65000,69999,10)

In [ ]:
importData(70000,74999,10)

In [ ]:
importData(75000,79999,10)

In [ ]:
importData(80000,84999,10)

In [ ]:
importData(85000,89999,10)

In [ ]:
importData(90000,94999,10)

In [ ]:
df2 = pd.DataFrame(alldata)

Saving to csv

In [ ]:
df2.to_csv("rle_scores3.csv", index=False, index_label=False)

Reading .csv file with RLA Proficiency Data by School

In [ ]:
df2 = pd.read_csv("rle_scores3.csv", low_memory=False)

Reading clean .csv with only aggregate totals and percentages of RLA Proficiency Data

In [ ]:
df7 = pd.read_csv("rle_scores5.csv", low_memory=False)

### Preparing Variables for Proficiency DataÂ¶

##### National Center for Education Statistics (NCES) School ID (schoolID)

In [ ]:
schoolID = df2["ncessch"][1:]

##### Total number of students who scored a proficient RLA score at a particular school (allpctprof)

In [ ]:
allpctprof = df2['ALL_RLA00numvalid_1011'][1:]

##### Percentage of Students who score proficient or above in their RLA Assessment (newTest2)

Because some of the percentages are given as ranges or were not reported, we are running a for-loop to create an average when there is a range and rename the NaNs to null. We want the percentage of proficient scores rather than the total scores because states with larger student populations would most likely have more proficient students.

In [ ]:
#Turn percentage of proficient scores column into list 
test = df2['ALL_RLA00pctprof_1011'].tolist()

In [ ]:
test = test[1:]

Creating an average function

In [ ]:
def average(list):
    return sum(list)/len(list)

Creating a fuction that makes list of average percentage of proficient scores

In [ ]:
def FindPctProf(currentList,emptyList):
    for score in currentList:
        #print score
        if type(score)==str and "-" in score:
            a = score.split('-')
            s = []
            for i in a:
                s.append(float(i))
            emptyList.append(average(s))
        elif type(score)==str and "F_RLA00pctprof_1011" == score and "ALL_RLA00pctprof_1011" == score:
            emptyList.append(None)
        elif type(score)==str and "PS" != score and " " != score and "GE" not in score and "LT" not in score and "LE" not in score and "n/a" not in score and "." not in score:
            emptyList.append(float(score))
        else:
            emptyList.append(None)

##### Percentage of Female Students who scored proficient or above in their RLA Assessment (pctFprof)

In [ ]:
pctFprof1 = df2['F_RLA00pctprof_1011'][1:]

In [ ]:
pctFprof = []
FindPctProf(pctFprof1,pctFprof)

##### Percentage of Male Students who scored proficient or above in their RLA Assessment (pctMprof)

In [ ]:
#Creating list of average percentage of proficient scores
newTest = []
FindPctProf(test,newTest)

In [ ]:
pctMprof1 = df2['M_RLA00pctprof_1011'][1:]

In [ ]:
pctMprof = []
FindPctProf(pctMprof1,pctMprof)

##### State Name of School (stnam)

In [ ]:
stnam = df2['stnam'][1:]

### View Proficiency Data as Table

In [ ]:
df4 = pd.DataFrame({'state': stnam,'pctprof': newTest2, 'allprof':allpctprof, 'schoolID':schoolID })

### Preparing data for insertion to SQL

For RLA Proficiency Data.

In [ ]:
prep=[]
for i in range(1,96120): 
    keys = ['schoolID','state','allprof','pctprof','pctMprof','pctFprof']
    values = [schoolID[i], stnam[i], allpctprof[i], newTest2[i-1], pctMprof[i-1], pctFprof[i-1]]
    dictionary = dict(zip(keys, values))
    prep.append(dictionary)

In [ ]:
len(prep)

### Inserting Data to SQL

In [ ]:
import MySQLdb as mdb
import sys

con = mdb.connect(host = '52.91.26.238', user = 'root', passwd = 'dwdstudent2015', charset='utf8', use_unicode=True);

Creating new database, usRLA, for proficient RLA scores in school and state demographics

In [ ]:
db_name = 'usRLA'
create_db_query = "CREATE DATABASE IF NOT EXISTS {0} DEFAULT CHARACTER SET 'utf8'".format(db_name)

# Create a database
cursor = con.cursor()
cursor.execute(create_db_query)
cursor.close()

Creating table, school, for proficiency information by school

In [ ]:
cursor = con.cursor()
db_name = 'usRLA'
table_name = 'school'

drop_table = 'DROP TABLE {0}.{1}'.format(db_name, table_name)
cursor.execute(drop_table)

# Create a table
# The {0} and {1} are placeholders for the parameters in the format(....) statement
create_table_query = '''CREATE TABLE IF NOT EXISTS {0}.{1} 
                                (school_id varchar(50), 
                                state varchar(50), 
                                totalProf int,
                                pctProf int,
                                pctMprof int,
                                pctFprof int,
                                PRIMARY KEY(school_id)
                                )'''.format(db_name, table_name)
cursor.execute(create_table_query)
cursor.close()

Inserting School RLA Proficiency Data into school table.

In [ ]:
query_template = "INSERT INTO {0}.{1}(school_id, state, totalProf, pctProf, pctMprof, pctFprof) VALUES (%s, %s, %s, %s, %s, %s)".format(db_name, table_name)

cursor = con.cursor()

for entry in prep[90001:96119]: #Inserting Data ~10000 entries at a time 
    school_id = str(entry["schoolID"]) #"schoolID"
    state = entry["state"] #"state"
    totalProf = str(entry["allprof"]) #"allprof"
    pctProf = str(entry["pctprof"]) #"pctprof"
    pctMprof = str(entry["pctMprof"]) #"pctMprof"
    pctFprof = str(entry["pctFprof"]) #"pctFprof"
    query_parameters = (school_id, state, totalProf, pctProf, pctMprof, pctFprof)
    #print query_parameters
    cursor.execute(query_template, query_parameters)
    con.commit()

cursor.close()

Creating table, stateinfo, for State Demographic data

In [ ]:
cursor = con.cursor()
db_name = 'usRLA'
table_name = 'stateinfo'

drop_table = 'DROP TABLE {0}.{1}'.format(db_name, table_name)
cursor.execute(drop_table)

# Create a table
# The {0} and {1} are placeholders for the parameters in the format(....) statement
create_table_query = '''CREATE TABLE IF NOT EXISTS {0}.{1}
                                (state_id int, 
                                name varchar(50), 
                                freelunch int,
                                teachratio int,
                                reducelunch int,
                                numschool int,
                                totstudent int,
                                totNative int,
                                totAsian int,
                                totBlack int,
                                totHisp int,
                                totTwoPl int,
                                totWhite int,
                                totTeach int,
                                totFemale int,
                                totMale int,
                                PRIMARY KEY(state_id)
                                )'''.format(db_name, table_name)
cursor.execute(create_table_query)
cursor.close()

Inserting Demographic Data into stateinfo table.

In [ ]:
query_template = '''INSERT INTO 
usRLA.stateinfo(state_id, name, freelunch, teachratio, reducelunch, numschool, totstudent, totNative, totAsian, totBlack, totHisp, totTwoPl, totWhite, totTeach, totFemale, totMale) 
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''

cursor = con.cursor()

# THIS IS PROHIBITED
# query = "INSERT INTO citibike.Docks(station_id, station_name, number_of_docks) VALUES ("+entry["id"]+", "+entry["stationName"]+", "+entry["totalDocks"]+")"

for entry in data["result"]["records"]:
    state_id = entry["_id"]
    name = entry['State Name'] 
    freelunch = entry['Free Lunch Eligible ']
    teachratio = entry['Pupil/Teacher Ratio ']
    reducelunch = entry['Reduced-price Lunch Eligible ']
    numschool = entry['Total Number of Schools ']
    totstudent = entry['Total Students ']
    totNative = entry['Total Students- Amer Ind/AK Native ']
    totAsian = entry['Total Students- Asian/Pacific Islander']
    totBlack = entry['Total Students- Black ']
    totHisp = entry['Total Students- Hispanic ']
    totTwoPl = entry['Total Students- Two or more Races ']
    totWhite = entry['Total Students- White ']
    totTeach = entry['Total Teachers ']
    totFemale = entry['Total, All Grades- female ']
    totMale = entry['Total, All Grades- male ']
    query_parameters = (state_id, name, freelunch, teachratio, reducelunch, numschool, totstudent, totNative, totAsian, totBlack, totHisp, totTwoPl, totWhite, totTeach, totFemale, totMale)
    cursor.execute(query_template, query_parameters)
    con.commit()

cursor.close()

### Manipulating Data in SQL

Opening usRLA database.

In [ ]:
%reload_ext sql
%sql mysql://root:dwdstudent2015@52.91.26.238:3306/usRLA?charset=utf8

Making sure all schools were imported.

In [ ]:
%%sql
select count(*)
from school;

How many students are we looking at?

In [ ]:
%%sql
select sum(totstudent)
from stateinfo;

Creating table with proficiency scores by State (state_proficiency)

In [ ]:
%%sql
create table state_proficiency
	select state, sum(totalProf) as totprofst, avg(pctProf) as avgpctprof, avg(pctMprof) as avgpctMprof, avg(pctFprof) as avgpctFprof
	from school
	group by state;

Find state with highest number of proficient scores.

In [ ]:
%%sql
select state, totprofst
from state_proficiency
order by totprofst desc
limit 1

Is the California also the state that has the most students? (Answer: Yes)

In [ ]:
%%sql
select name, totstudent
from stateinfo
order by totstudent desc
limit 1

Which state has the highest percent of proficient scores?

In [ ]:
%%sql
select state, avgpctprof
from state_proficiency
order by avgpctprof desc
limit 1

Which state has the lowest percent of proficient scores?

In [ ]:
%%sql
select state, avgpctprof
from state_proficiency
order by avgpctprof asc
limit 2

In [ ]:
%%sql
select SP.state, SP.totprofst, ST.totWhite, ST.totstudent, ST.totWhite/ST.totstudent as pctWhite
from state_proficiency SP inner join stateinfo ST on upper(SP.state) = upper(ST.name)
limit 5

Are there differences in percentage of proficient RLA scores in terms of gender in the United States? 
(Answer: Doesn't look like it, refer to t-test in Analysis Section)

In [ ]:
%%sql
create table prof_Female 
	select avgpctFprof as pctprof,state 
    from state_proficiency; 

create table prof_Male 
	select avgpctMprof as pctprof, state 
    from state_proficiency; 

ALTER TABLE prof_Female 
ADD gender varchar(10); 

UPDATE prof_Female SET gender = "Female"; 

ALTER TABLE prof_Male 
ADD gender varchar(10); 

UPDATE prof_Male SET gender = "Male"; 

create table prof_by_gender
	(
    gender varchar(10),
	pctprof int,
    state varchar(10)
    );

INSERT INTO prof_by_gender 
(gender, pctprof, state)
SELECT gender, pctprof, state
FROM prof_Female;

INSERT INTO prof_by_gender 
(gender, pctprof, state)
SELECT gender, pctprof, state
FROM prof_Male;

In [ ]:
ttest_gender = %%sql \
SELECT gender, pctprof \
FROM prof_by_gender \

In [ ]:
ttest1 = pd.DataFrame(ttest_gender, columns = ["gender", "pctprof"])
ttest1["pctprof"] = ttest1["pctprof"].astype(float)

Finding columns that would be interesting to run regressions with.
Is there a relationship between (1) gender, (2) racial identification, (3) income/receiving free/reduced lunch and amount/percentage of proficient RLA scores within a state?

In [ ]:
correlate2 = %%sql \
SELECT A.name, A.totprofst, A.avgpctprof, B.number_of_schools, B.total_students, B.total_teachers, B.pct_reduced_lunch, B.pct_free_lunch, B.teacher_ratio, B.free_lunch, B.reduce_lunch, B.total_Native, B.pct_Native, B.total_Black, B.pct_Black, B.total_Hisp, B.pct_Hisp, B.total_Female, B.pct_Female, B.total_male, B.pct_male, B.total_White, B.pct_White, B.total_TwoPlus, B.pct_TwoPlus, B.pct_Asian, B.total_Asian \
FROM (SELECT ST.name, SP.totprofst, SP.avgpctprof \
FROM state_proficiency SP inner join stateinfo ST on upper(SP.state) = upper(ST.name) \
GROUP BY ST.name) A \
INNER JOIN \
( \
SELECT ST.name, ST.numschool as number_of_schools, ST.teachratio as teacher_ratio, ST.totTeach as total_teachers, ST.totstudent as total_students, ST.reducelunch/ST.totstudent AS pct_reduced_lunch, ST.freelunch/ST.totstudent AS pct_free_lunch, ST.freelunch as free_lunch, ST.reducelunch as reduce_lunch, ST.totTwoPl as total_TwoPlus, ST.totTwoPl/ST.totstudent as pct_TwoPlus, ST.totNative as total_Native, ST.totNative/ST.totstudent as pct_Native, ST.totAsian as total_Asian, ST.totAsian/ST.totstudent as pct_Asian, ST.totBlack as total_Black, ST.totBlack/ST.totstudent as pct_Black, ST.totHisp as total_Hisp, ST.totHisp/ST.totstudent as pct_Hisp, ST.totFemale as total_Female, ST.totFemale/ST.totstudent as pct_Female, ST.totWhite as total_White, ST.totWhite/ST.totstudent as pct_White, ST.totmale as total_male, ST.totmale/ST.totstudent as pct_male \
FROM stateinfo ST inner join school S on upper(S.state) = upper(ST.name) \
GROUP BY ST.name ) B ON A.name = B.name \

Placing items in dateframe in preparing for running regressions.

In [ ]:
corr2 = pd.DataFrame(correlate2, columns = ["state", "totprof", "pctprof", "number_of_schools","total_students", "total_teachers", "pct_reduced_lunch", "pct_free_lunch", "teacher_ratio", "free_lunch", "reduce_lunch", "total_Native", "pct_Native", "total_Black", "pct_Black", "total_Hisp", "pct_Hisp", "total_Female", "pct_Female", "total_male", "pct_male", "total_White", "pct_White","total_TwoPlus", "pct_TwoPlus", "pct_Asian", "total_Asian"])
corr2.set_index("state", inplace=True)
corr2["reduce_lunch"] = corr2["reduce_lunch"].astype(float)
corr2["pctprof"] = corr2["pctprof"].astype(float)
corr2["totprof"] = corr2["totprof"].astype(float)
corr2["number_of_schools"] = corr2["number_of_schools"].astype(float)
corr2["total_students"] = corr2["total_students"].astype(float)
corr2["total_teachers"] = corr2["total_teachers"].astype(float)
corr2["pct_reduced_lunch"] = corr2["pct_reduced_lunch"].astype(float)
corr2["reduce_lunch"] = corr2["reduce_lunch"].astype(float)
corr2["pct_free_lunch"] = corr2["pct_free_lunch"].astype(float)
corr2["teacher_ratio"] = corr2["teacher_ratio"].astype(float)
corr2["free_lunch"] = corr2["free_lunch"].astype(float)
corr2["total_Native"] = corr2["total_Native"].astype(float)
corr2["pct_Native"] = corr2["pct_Native"].astype(float)
corr2["total_Black"] = corr2["total_Black"].astype(float)
corr2["pct_Black"] = corr2["pct_Black"].astype(float)
corr2["total_Hisp"] = corr2["total_Hisp"].astype(float)
corr2["pct_Hisp"] = corr2["pct_Hisp"].astype(float)
corr2["pct_TwoPlus"] = corr2["pct_TwoPlus"].astype(float)
corr2["total_TwoPlus"] = corr2["total_TwoPlus"].astype(float)
corr2["pct_Asian"] = corr2["pct_Asian"].astype(float)
corr2["total_Asian"] = corr2["total_Asian"].astype(float)
corr2["total_Female"] = corr2["total_Female"].astype(float)
corr2["pct_Female"] = corr2["pct_Female"].astype(float)
corr2["total_male"] = corr2["total_male"].astype(float)
corr2["pct_male"] = corr2["pct_male"].astype(float)
corr2["total_White"] = corr2["total_White"].astype(float)
corr2["pct_White"] = corr2["pct_White"].astype(float)

Checking if Data looks right...

In [ ]:
corr2.head()

### Analysis and Visualization with matplotlib and statsmodels

In [ ]:
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
import seaborn as sns
varlist = ["number_of_schools","total_students", "total_teachers", "pct_reduced_lunch", "pct_free_lunch", "teacher_ratio", "free_lunch", "reduce_lunch", "total_Native", "pct_Native", "total_Black", "pct_Black", "total_Hisp", "pct_Hisp", "total_Female", "pct_Female", "total_male", "pct_male", "total_White", "pct_White", "pct_TwoPlus" , "total_TwoPlus","pct_Asian", "total_Asian"]
for i in varlist:
    %matplotlib inline
    corr2.plot(kind='scatter', x=i, y='totprof')
    plt.show()
# formula: response ~ predictors
    est = smf.ols(formula="totprof ~ " + i, data=corr2).fit()
    print est.summary()

In [ ]:
corr3 = pd.DataFrame(correlate2, columns = ["state", "totprof", "pctprof", "number_of_schools","total_students", "total_teachers", "pct_reduced_lunch", "pct_free_lunch", "teacher_ratio", "free_lunch", "reduce_lunch", "total_Native", "pct_Native", "total_Black", "pct_Black", "total_Hisp", "pct_Hisp", "total_Asian", "pct_Asian", "total_Female", "pct_Female", "total_male", "pct_male", "total_White", "pct_White", "pct_TwoPlus", "total_TwoPlus"])
corr3["pctprof"] = corr3["pctprof"].astype(float)

In [ ]:
plt.rcParams['figure.figsize'] = (15,5)
corr3.plot(kind='bar', x='state', y='pctprof',color='DarkBlue', alpha=0.5)

In [ ]:
%matplotlib inline
import seaborn as sns
import matplotlib as plt
plt.rcParams['figure.figsize'] = (7,7)
#total = (df["totprof"])
#outofservice = (df["statusValue"] == 'Not In Service')
#ax = df[inservice].plot(kind='scatter',x='total_students',y='totprof', color='DarkBlue', label= 'Total Number of Students by State', alpha=0.5, s=(df['totalDocks']-df['availableDocks'])*4)
ax = corr2.plot(kind='scatter', x='free_lunch', y='totprof',color='#000000', label= 'Total Number of Students Recieving Free Lunch', alpha=0.5)
ax = corr2.plot(kind='scatter', x='reduce_lunch', y='totprof',color='LightBlue', ax = ax, label= 'Total Number of Students Recieving Reduced Price Lunch', alpha=0.5)

#corr2.plot(kind='scatter',x='total_students',y='totprof', color='DarkBlue', label= 'Total Number of Students by State', alpha=0.5)
total_plot = corr2.plot(kind='scatter',x='total_students',y='totprof', color='DarkBlue', ax = ax, label= 'Total Number of Students by State', alpha=0.5)
                      # color='DarkBlue', label= 'Group 1' )
total_plot.legend(bbox_to_anchor=(1.05, 1), loc=2, borderaxespad=0.)

In [ ]:
%matplotlib inline
import seaborn as sns
import matplotlib as plt
plt.rcParams['figure.figsize'] = (7,7)
ax = corr2.plot(kind='scatter', x='total_Native', y='totprof',color='#000000', label= 'Total Number of Students Identifying as Amer Indian/AK Native', alpha=0.5)

ax = corr2.plot(kind='scatter', x='total_White', y='totprof',color='Red', ax = ax, label= 'Total Number of Students Identifying as White', alpha=0.5)
ax = corr2.plot(kind='scatter', x='total_Black', y='totprof',color='Orange', ax = ax, label= 'Total Number of Students Identifying as Black', alpha=0.5)
ax = corr2.plot(kind='scatter', x='total_Asian', y='totprof',color='Yellow', ax = ax, label= 'Total Number of Students Identifying as Asian', alpha=0.5)
ax = corr2.plot(kind='scatter', x='total_Hisp', y='totprof',color='Green', ax = ax, label= 'Total Number of Students Identifying as Hispanic', alpha=0.5)
ax = corr2.plot(kind='scatter', x='total_TwoPlus', y='totprof',color='Purple', ax = ax, label= 'Total Number of Students Identifying as of Two or More Races', alpha=0.5)

total_plot = corr2.plot(kind='scatter',x='total_students',y='totprof', color='DarkBlue', ax = ax, label= 'Total Number of Students by State')
total_plot.legend(bbox_to_anchor=(1.05, 1), loc=2, borderaxespad=0.)

In [ ]:
%matplotlib inline
import seaborn as sns
import matplotlib as plt
plt.rcParams['figure.figsize'] = (7,7)

ax = corr2.plot(kind='scatter', x='total_Female', y='totprof',color='Pink', label= 'Total Number of Students Identifying as Female')
ax = corr2.plot(kind='scatter', x='total_male', y='totprof',color='Blue', ax = ax, label= 'Total Number of Students Identifying as Male', alpha=0.5)

total_plot = corr2.plot(kind='scatter',x='total_students',y='totprof', color='DarkBlue', ax = ax, label= 'Total Number of Students by State')
total_plot.legend(bbox_to_anchor=(1.05, 1), loc=2, borderaxespad=0.)

In [ ]:
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf

varlist = ["number_of_schools","total_students", "total_teachers", "pct_reduced_lunch", "pct_free_lunch", "teacher_ratio", "free_lunch", "reduce_lunch", "total_Native", "pct_Native", "total_Black", "pct_Black", "total_Hisp", "pct_Hisp", "total_Female", "pct_Female", "total_male", "pct_male", "total_White", "pct_White", "pct_TwoPlus" , "total_TwoPlus","pct_Asian", "total_Asian"]
for i in varlist:
    %matplotlib inline
    corr2.plot(kind='scatter', x=i, y='pctprof')
    plt.show()
# formula: response ~ predictors
    est = smf.ols(formula="pctprof ~ " + i, data=corr2).fit()
    print est.summary()

Are there differences in percentage of proficient scores in terms of gender? Answer: Nurp.

In [ ]:
from scipy.stats import ttest_ind

ttest1 = pd.DataFrame(ttest_gender, columns = ["gender", "pctprof"])
ttest1["pctprof"] = ttest1["pctprof"].astype(float)
Female = ttest1[ttest1['gender']=='Female']
Male = ttest1[ttest1['gender']=='Male']

ttest_ind(Female["pctprof"], Male["pctprof"])

Find the mean pctprof of Females and Males.

In [ ]:
prof_by_gender = %%sql \
select avgpctMprof, avgpctFprof \
from state_proficiency \

In [ ]:
FindMean = pd.DataFrame(prof_by_gender, columns = ["avgpctMprof", "avgpctFprof"])
FindMean["avgpctFprof"] = FindMean["avgpctFprof"].astype(float)
FindMean["avgpctMprof"] = FindMean["avgpctMprof"].astype(float)

In [ ]:
fem_prof = []
for i in FindMean["avgpctFprof"]:
        fem_prof.append(i.astype(float))
print fem_prof

In [ ]:
mal_prof = []
for i in FindMean["avgpctMprof"]:
        mal_prof.append(i.astype(float))
print mal_prof

In [ ]:
print "male mean", sum(mal_prof) / float(len(mal_prof))

In [ ]:
print "female mean", sum(fem_prof) / float(len(fem_prof))