## RLA Scores vs. Demographics in US Public Elementary Schools  
2010 - 2011 Reading Language Arts Scores and State Demographics, all data retrieved from http://www.ed.gov/developer

In [1]:
import requests
import json
import pandas as pd
import pprint
import numpy as np

#### State Education Data Profiles - Elementary & Secondary Education Characteristics

In [ ]:
url = "https://inventory.data.gov/api/action/datastore_search?resource_id=ea8517bd-a950-482a-bb63-e40736bbd7a4"
resp = requests.get(url)

content = resp.text
data = json.loads(content)

df = pd.DataFrame(data["result"]["records"])

In [ ]:
#Creating table with only variables we are interested in
df1 = df[['_id','State Name','Free Lunch Eligible ','Pupil/Teacher Ratio ','Reduced-price Lunch Eligible ','Total Number of Schools ','Total Students ','Total Students- Amer Ind/AK Native ','Total Students- Asian/Pacific Islander', 'Total Students- Black ', 'Total Students- Hispanic ', 'Total Students- Two or more Races ', 'Total Students- White ', 'Total Teachers ', 'Total, All Grades- female ', 'Total, All Grades- male ']]

#### Achievement Results for State Assessments in Reading/Language Arts

Definitions of Variables can be found here: http://www2.ed.gov/about/inits/Fed/edfacts/data-files/assessments-sy12-13-public-file-documentationv2-0.doc

Importing in multiple loops to prevent crashing.

In [ ]:
alldata = []

for start in range(0,4999,1000):
    url2 = "https://inventory.data.gov/api/action/datastore_search?resource_id=b8160d45-b9b9-443c-8157-f381d6b90e42&limit=1000&offset="+str(start)
    print url2
    resp2 = requests.get(url2)
    content2 = resp2.text
    data2 = json.loads(content2)
    alldata.extend(data2["result"]["records"])

df2 = pd.DataFrame(alldata)

In [ ]:
for start in range(5000,9999,100):
    url2 = "https://inventory.data.gov/api/action/datastore_search?resource_id=b8160d45-b9b9-443c-8157-f381d6b90e42&limit=100&offset="+str(start)
    print url2
    resp2 = requests.get(url2)
    content2 = resp2.text
    data2 = json.loads(content2)
    alldata.extend(data2["result"]["records"])

df2 = pd.DataFrame(alldata)

In [ ]:
for start in range(10000,14999,10):
    url2 = "https://inventory.data.gov/api/action/datastore_search?resource_id=b8160d45-b9b9-443c-8157-f381d6b90e42&limit=10&offset="+str(start)
    print url2
    resp2 = requests.get(url2)
    content2 = resp2.text
    data2 = json.loads(content2)
    alldata.extend(data2["result"]["records"])

df2 = pd.DataFrame(alldata)

In [ ]:
for start in range(15000,19999,10):
    url2 = "https://inventory.data.gov/api/action/datastore_search?resource_id=b8160d45-b9b9-443c-8157-f381d6b90e42&limit=10&offset="+str(start)
    print url2
    resp2 = requests.get(url2)
    content2 = resp2.text
    data2 = json.loads(content2)
    alldata.extend(data2["result"]["records"])

df2 = pd.DataFrame(alldata)

In [ ]:
for start in range(20000,24999,10):
    url2 = "https://inventory.data.gov/api/action/datastore_search?resource_id=b8160d45-b9b9-443c-8157-f381d6b90e42&limit=10&offset="+str(start)
    print url2
    resp2 = requests.get(url2)
    content2 = resp2.text
    data2 = json.loads(content2)
    alldata.extend(data2["result"]["records"])

df2 = pd.DataFrame(alldata)

In [ ]:
for start in range(25000,29999,10):
    url2 = "https://inventory.data.gov/api/action/datastore_search?resource_id=b8160d45-b9b9-443c-8157-f381d6b90e42&limit=10&offset="+str(start)
    print url2
    resp2 = requests.get(url2)
    content2 = resp2.text
    data2 = json.loads(content2)
    alldata.extend(data2["result"]["records"])

df2 = pd.DataFrame(alldata)

In [ ]:
for start in range(30000,34999,10):
    url2 = "https://inventory.data.gov/api/action/datastore_search?resource_id=b8160d45-b9b9-443c-8157-f381d6b90e42&limit=10&offset="+str(start)
    print url2
    resp2 = requests.get(url2)
    content2 = resp2.text
    data2 = json.loads(content2)
    alldata.extend(data2["result"]["records"])

df2 = pd.DataFrame(alldata)

In [ ]:
for start in range(35000,39999,1000):
    url2 = "https://inventory.data.gov/api/action/datastore_search?resource_id=b8160d45-b9b9-443c-8157-f381d6b90e42&limit=1000&offset="+str(start)
    print url2
    resp2 = requests.get(url2)
    content2 = resp2.text
    data2 = json.loads(content2)
    alldata.extend(data2["result"]["records"])

df2 = pd.DataFrame(alldata)

In [ ]:
for start in range(40000,44999,10):
    url2 = "https://inventory.data.gov/api/action/datastore_search?resource_id=b8160d45-b9b9-443c-8157-f381d6b90e42&limit=10&offset="+str(start)
    print url2
    resp2 = requests.get(url2)
    content2 = resp2.text
    data2 = json.loads(content2)
    alldata.extend(data2["result"]["records"])

df2 = pd.DataFrame(alldata)

In [ ]:
for start in range(45000,49999,10):
    url2 = "https://inventory.data.gov/api/action/datastore_search?resource_id=b8160d45-b9b9-443c-8157-f381d6b90e42&limit=10&offset="+str(start)
    print url2
    resp2 = requests.get(url2)
    content2 = resp2.text
    data2 = json.loads(content2)
    alldata.extend(data2["result"]["records"])

df2 = pd.DataFrame(alldata)

In [ ]:
for start in range(50000,54999,10):
    url2 = "https://inventory.data.gov/api/action/datastore_search?resource_id=b8160d45-b9b9-443c-8157-f381d6b90e42&limit=10&offset="+str(start)
    print url2
    resp2 = requests.get(url2)
    content2 = resp2.text
    data2 = json.loads(content2)
    alldata.extend(data2["result"]["records"])

df2 = pd.DataFrame(alldata)

In [ ]:
for start in range(55000,59999,10):
    url2 = "https://inventory.data.gov/api/action/datastore_search?resource_id=b8160d45-b9b9-443c-8157-f381d6b90e42&limit=10&offset="+str(start)
    print url2
    resp2 = requests.get(url2)
    content2 = resp2.text
    data2 = json.loads(content2)
    alldata.extend(data2["result"]["records"])

df2 = pd.DataFrame(alldata)

In [ ]:
for start in range(60000,64999,10):
    url2 = "https://inventory.data.gov/api/action/datastore_search?resource_id=b8160d45-b9b9-443c-8157-f381d6b90e42&limit=10&offset="+str(start)
    print url2
    resp2 = requests.get(url2)
    content2 = resp2.text
    data2 = json.loads(content2)
    alldata.extend(data2["result"]["records"])

df2 = pd.DataFrame(alldata)

In [ ]:
for start in range(65000,69999,10):
    url2 = "https://inventory.data.gov/api/action/datastore_search?resource_id=b8160d45-b9b9-443c-8157-f381d6b90e42&limit=10&offset="+str(start)
    print url2
    resp2 = requests.get(url2)
    content2 = resp2.text
    data2 = json.loads(content2)
    alldata.extend(data2["result"]["records"])

df2 = pd.DataFrame(alldata)

In [ ]:
for start in range(70000,74999,10):
    url2 = "https://inventory.data.gov/api/action/datastore_search?resource_id=b8160d45-b9b9-443c-8157-f381d6b90e42&limit=10&offset="+str(start)
    print url2
    resp2 = requests.get(url2)
    content2 = resp2.text
    data2 = json.loads(content2)
    alldata.extend(data2["result"]["records"])

df2 = pd.DataFrame(alldata)

In [ ]:
for start in range(75000,79999,10):
    url2 = "https://inventory.data.gov/api/action/datastore_search?resource_id=b8160d45-b9b9-443c-8157-f381d6b90e42&limit=10&offset="+str(start)
    print url2
    resp2 = requests.get(url2)
    content2 = resp2.text
    data2 = json.loads(content2)
    alldata.extend(data2["result"]["records"])

df2 = pd.DataFrame(alldata)

In [ ]:
for start in range(80000,84999,10):
    url2 = "https://inventory.data.gov/api/action/datastore_search?resource_id=b8160d45-b9b9-443c-8157-f381d6b90e42&limit=10&offset="+str(start)
    print url2
    resp2 = requests.get(url2)
    content2 = resp2.text
    data2 = json.loads(content2)
    alldata.extend(data2["result"]["records"])

df2 = pd.DataFrame(alldata)

In [ ]:
for start in range(85000,89999,10):
    url2 = "https://inventory.data.gov/api/action/datastore_search?resource_id=b8160d45-b9b9-443c-8157-f381d6b90e42&limit=10&offset="+str(start)
    print url2
    resp2 = requests.get(url2)
    content2 = resp2.text
    data2 = json.loads(content2)
    alldata.extend(data2["result"]["records"])

df2 = pd.DataFrame(alldata)

In [ ]:
for start in range(90000,91121,10):
    url2 = "https://inventory.data.gov/api/action/datastore_search?resource_id=b8160d45-b9b9-443c-8157-f381d6b90e42&limit=10&offset="+str(start)
    print url2
    resp2 = requests.get(url2)
    content2 = resp2.text
    data2 = json.loads(content2)
    alldata.extend(data2["result"]["records"])

df2 = pd.DataFrame(alldata)

Saving to csv

In [ ]:
df2.to_csv("rle_scores3.csv", index=False, index_label=False)

Reading .csv file with RLA Proficiency Data by School

In [2]:
df2 = pd.read_csv("rle_scores3.csv", low_memory=False)

Reading clean .csv with only aggregate totals and percentages of RLA Proficiency Data

In [3]:
df7 = pd.read_csv("rle_scores5.csv", low_memory=False)

### Preparing Variables for Proficiency Data¶

##### National Center for Education Statistics (NCES) School ID (schoolID)

In [4]:
schoolID = df2["ncessch"][1:]

##### Total number of students who scored a proficient RLA score at a particular school (allpctprof)

In [5]:
allpctprof = df2['ALL_RLA00numvalid_1011'][1:]

##### Percentage of Female Students who scored proficient or above in their RLA Assessment (pctFprof)

In [6]:
pctFprof1 = df7['F_RLA00pctprof_1011'][1:]

In [7]:
len(pctFprof1)

96120

In [8]:
#Creating an average function
def average(list):
    return sum(list)/len(list)

#Creating list of average percentage of proficient scores
pctFprof = []
for score in pctFprof1:
    #print score
    if "-" in score:
        a = score.split('-')
        s = []
        for i in a:
            s.append(float(i))
        pctFprof.append(average(s))
    elif "F_RLA00pctprof_1011" == score:
        pctFprof.append(0)
    elif "PS" != score and " " != score and "GE" not in score and "LT" not in score and "LE" not in score and "n/a" not in score and "." not in score:
        pctFprof.append(float(score))
    else:
        pctFprof.append("null")

##### Percentage of Male Students who scored proficient or above in their RLA Assessment (pctMprof)

In [9]:
pctMprof1 = df7['M_RLA00pctprof_1011'][1:]

In [10]:
#Creating an average function
def average(list):
    return sum(list)/len(list)

#Creating list of average percentage of proficient scores
pctMprof = []
for score in pctMprof1:
    if "-" in score:
        a = score.split('-')
        s = []
        for i in a:
            s.append(float(i))
        pctMprof.append(average(s))
    elif "M_RLA00pctprof_1011" == score:
        pctMprof.append(0)
    elif "PS" != score and "GE" not in score and "LT" not in score and "LE" not in score and "n/a" not in score and '.' != score:
        pctMprof.append(float(score))
    else:
        pctMprof.append("null")

##### Percentage of Students who score proficient or above in their RLA Assessment (newTest2)

Because some of the percentages are given as ranges or were not reported, we are running a for-loop to create an average when there is a range and rename the NaNs to null. We want the percentage of proficient scores rather than the total scores because states with larger student populations would most likely have more proficient students.

In [11]:
#Turn percentage of proficient scores column into list 
test = df2['ALL_RLA00pctprof_1011'].tolist()

In [12]:
#Creating an average function
def average(list):
    return sum(list)/len(list)

#Creating list of average percentage of proficient scores
newTest = []
for score in test:
    if "-" in score:
        a = score.split('-')
        s = []
        for i in a:
            s.append(float(i))
        newTest.append(average(s))
    elif "ALL_RLA00pctprof_1011" == score:
        newTest.append(0)
    elif "PS" != score and "GE" not in score and "LT" not in score and "LE" not in score and "n/a" not in score:
        newTest.append(float(score))
    else:
        newTest.append("null")

In [13]:
#getting rid of old column header
newTest2 = newTest[1:]

In [14]:
len(newTest2)

96120

##### State Name of School (stnam)

In [15]:
stnam = df2['stnam'][1:]

### View Proficiency Data as Table

In [16]:
df4 = pd.DataFrame({'state': stnam,'pctprof': newTest2, 'allprof':allpctprof, 'schoolID':schoolID })

In [17]:
df4.tail()

      allprof pctprof      schoolID    state
96116     120      72  560412000504  WYOMING
96117     178      77  560412000209  WYOMING
96118      37    84.5  560412000211  WYOMING
96119      89      87  560412000213  WYOMING
96120      77      67  560412000210  WYOMING

### Preparing data for insertion to SQL

For RLA Proficiency Data.

In [23]:
prep=[]
for i in range(1,96120): 
    keys = ['schoolID','state','allprof','pctprof','pctMprof','pctFprof']
    values = [schoolID[i], stnam[i], allpctprof[i], newTest2[i-1], pctMprof[i-1], pctFprof[i-1]]
    dictionary = dict(zip(keys, values))
    prep.append(dictionary)

In [24]:
len(prep)

96119

### Inserting Data to SQL

In [25]:
import MySQLdb as mdb
import sys

con = mdb.connect(host = '52.91.26.238', user = 'root', passwd = 'dwdstudent2015', charset='utf8', use_unicode=True);

Creating new database, usRLA, for proficient RLA scores in school and state demographics

In [26]:
db_name = 'usRLA'
create_db_query = "CREATE DATABASE IF NOT EXISTS {0} DEFAULT CHARACTER SET 'utf8'".format(db_name)

# Create a database
cursor = con.cursor()
cursor.execute(create_db_query)
cursor.close()

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:6: Warning: Can't create database 'usRLA'; database exists

Creating table, school, for proficiency information by school

In [34]:
cursor = con.cursor()
db_name = 'usRLA'
table_name = 'school'

drop_table = 'DROP TABLE {0}.{1}'.format(db_name, table_name)
cursor.execute(drop_table)

# Create a table
# The {0} and {1} are placeholders for the parameters in the format(....) statement
create_table_query = '''CREATE TABLE IF NOT EXISTS {0}.{1} 
                                (school_id varchar(50), 
                                state varchar(50), 
                                totalProf int,
                                pctProf int,
                                pctMprof int,
                                pctFprof int,
                                PRIMARY KEY(school_id)
                                )'''.format(db_name, table_name)
cursor.execute(create_table_query)
cursor.close()

Inserting School RLA Proficiency Data into school table.

In [71]:
query_template = "INSERT INTO {0}.{1}(school_id, state, totalProf, pctProf, pctMprof, pctFprof) VALUES (%s, %s, %s, %s, %s, %s)".format(db_name, table_name)

cursor = con.cursor()

for entry in prep[90001:96119]: #Inserting Data ~10000 entries at a time 
    school_id = str(entry["schoolID"]) #"schoolID"
    state = entry["state"] #"state"
    totalProf = str(entry["allprof"]) #"allprof"
    pctProf = str(entry["pctprof"]) #"pctprof"
    pctMprof = str(entry["pctMprof"]) #"pctMprof"
    pctFprof = str(entry["pctFprof"]) #"pctFprof"
    query_parameters = (school_id, state, totalProf, pctProf, pctMprof, pctFprof)
    #print query_parameters
    cursor.execute(query_template, query_parameters)
    con.commit()

cursor.close()

IntegrityError: (1062, "Duplicate entry '510225002452' for key 'PRIMARY'")

Creating table, stateinfo, for State Demographic data

In [ ]:
cursor = con.cursor()
db_name = 'usRLA'
table_name = 'stateinfo'

drop_table = 'DROP TABLE {0}.{1}'.format(db_name, table_name)
cursor.execute(drop_table)

# Create a table
# The {0} and {1} are placeholders for the parameters in the format(....) statement
create_table_query = '''CREATE TABLE IF NOT EXISTS {0}.{1}
                                (state_id int, 
                                name varchar(50), 
                                freelunch int,
                                teachratio int,
                                reducelunch int,
                                numschool int,
                                totstudent int,
                                totNative int,
                                totAsian int,
                                totBlack int,
                                totHisp int,
                                totTwoPl int,
                                totWhite int,
                                totTeach int,
                                totFemale int,
                                totMale int,
                                PRIMARY KEY(state_id)
                                )'''.format(db_name, table_name)
cursor.execute(create_table_query)
cursor.close()

Inserting Demographic Data into stateinfo table.

In [ ]:
query_template = '''INSERT INTO 
usRLA.stateinfo(state_id, name, freelunch, teachratio, reducelunch, numschool, totstudent, totNative, totAsian, totBlack, totHisp, totTwoPl, totWhite, totTeach, totFemale, totMale) 
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''

cursor = con.cursor()

# THIS IS PROHIBITED
# query = "INSERT INTO citibike.Docks(station_id, station_name, number_of_docks) VALUES ("+entry["id"]+", "+entry["stationName"]+", "+entry["totalDocks"]+")"

for entry in data["result"]["records"]:
    state_id = entry["_id"]
    name = entry['State Name'] 
    freelunch = entry['Free Lunch Eligible ']
    teachratio = entry['Pupil/Teacher Ratio ']
    reducelunch = entry['Reduced-price Lunch Eligible ']
    numschool = entry['Total Number of Schools ']
    totstudent = entry['Total Students ']
    totNative = entry['Total Students- Amer Ind/AK Native ']
    totAsian = entry['Total Students- Asian/Pacific Islander']
    totBlack = entry['Total Students- Black ']
    totHisp = entry['Total Students- Hispanic ']
    totTwoPl = entry['Total Students- Two or more Races ']
    totWhite = entry['Total Students- White ']
    totTeach = entry['Total Teachers ']
    totFemale = entry['Total, All Grades- female ']
    totMale = entry['Total, All Grades- male ']
    query_parameters = (state_id, name, freelunch, teachratio, reducelunch, numschool, totstudent, totNative, totAsian, totBlack, totHisp, totTwoPl, totWhite, totTeach, totFemale, totMale)
    cursor.execute(query_template, query_parameters)
    con.commit()

cursor.close()

### Manipulating Data in SQL

Opening usRLA database.

In [76]:
%reload_ext sql
%sql mysql://root:dwdstudent2015@52.91.26.238:3306/usRLA?charset=utf8

u'Connected: root@usRLA_1'

Making sure all schools were imported.

In [72]:
%%sql
select count(*)
from school;

1 rows affected.

[(91111L,)]

Creating table with proficiency scores by State (state_proficiency)

In [73]:
%%sql
create table state_proficiency
	select state, sum(totalProf) as totprofst, avg(pctProf) as avgpctprof, avg(pctMprof) as avgpctMprof, avg(pctFprof) as avgpctFprof
	from school
	group by state;

53 rows affected.

/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctprof' at row 1
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctMprof' at row 1
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctFprof' at row 1
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctprof' at row 2
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctMprof' at row 2
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctFprof' at row 2
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctprof' at row 3
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctMprof' at row 3
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctFprof' at row 3
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctprof' at row 4
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctMprof' at row 4
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctFprof' at row 4
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctprof' at row 5
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctMprof' at row 5
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctFprof' at row 5
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctprof' at row 6
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctMprof' at row 6
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctFprof' at row 6
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctprof' at row 7
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctMprof' at row 7
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctFprof' at row 7
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctprof' at row 8
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctMprof' at row 8
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctFprof' at row 8
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctprof' at row 9
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctMprof' at row 9
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctFprof' at row 9
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctprof' at row 10
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctMprof' at row 10
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctFprof' at row 10
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctprof' at row 11
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctMprof' at row 11
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctFprof' at row 11
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctprof' at row 12
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctMprof' at row 12
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctFprof' at row 12
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctprof' at row 13
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctMprof' at row 13
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctFprof' at row 13
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctprof' at row 14
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctMprof' at row 14
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctFprof' at row 14
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctprof' at row 15
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctMprof' at row 15
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctFprof' at row 15
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctprof' at row 16
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctMprof' at row 16
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctFprof' at row 16
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctprof' at row 17
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctMprof' at row 17
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctFprof' at row 17
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctprof' at row 18
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctMprof' at row 18
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctFprof' at row 18
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctprof' at row 19
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctMprof' at row 19
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctFprof' at row 19
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctprof' at row 20
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctMprof' at row 20
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctFprof' at row 20
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctprof' at row 21
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctMprof' at row 21
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctFprof' at row 21
  cursor.execute(statement, parameters)
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'avgpctprof' at row 22
  cursor.execute(statement, parameters)

[]

Find state with highest number of proficient scores.

In [74]:
%%sql
select state, totprofst
from state_proficiency
order by totprofst desc
limit 1

1 rows affected.

[(u'CALIFORNIA', Decimal('3253233'))]

Is the California also the state that has the most students? (Answer: Yes)

In [75]:
%%sql
select name, totstudent
from stateinfo
order by totstudent desc
limit 1

1 rows affected.

[(u'California', 6289578L)]

Which state has the highest percent of proficient scores?

In [85]:
%%sql
select state, avgpctprof
from state_proficiency
order by avgpctprof desc
limit 1

1 rows affected.

[(u'GEORGIA', Decimal('82.9705'))]

Which state has the lowest percent of proficient scores?

In [90]:
%%sql
select state, avgpctprof
from state_proficiency
order by avgpctprof asc
limit 2

2 rows affected.

[(u'BUREAU OF INDIAN AFFAIRS', Decimal('38.8353')),
 (u'WEST VIRGINIA', Decimal('41.5542'))]

Are there differences in percentage of proficient RLA scores in terms of gender in the United States? 
(Answer: Doesn't look like it, refer to t-test in Analysis Section)

In [ ]:
%%sql
create table prof_Female 
	select avgpctFprof as pctprof,state 
    from state_proficiency; 

create table prof_Male 
	select avgpctMprof as pctprof, state 
    from state_proficiency; 

ALTER TABLE prof_Female 
ADD gender varchar(10); 

UPDATE prof_Female SET gender = "Female"; 

ALTER TABLE prof_Male 
ADD gender varchar(10); 

UPDATE prof_Male SET gender = "Male"; 

create table prof_by_gender
	(
    gender varchar(10),
	pctprof int,
    state varchar(10)
    );

INSERT INTO prof_by_gender 
(gender, pctprof, state)
SELECT gender, pctprof, state
FROM prof_Female;

INSERT INTO prof_by_gender 
(gender, pctprof, state)
SELECT gender, pctprof, state
FROM prof_Male;

In [77]:
ttest_gender = %%sql \
SELECT gender, pctprof \
FROM prof_by_gender \

106 rows affected.

In [78]:
ttest1 = pd.DataFrame(ttest_gender, columns = ["gender", "pctprof"])
ttest1["pctprof"] = ttest1["pctprof"].astype(float)

Finding columns that would be interesting to run regressions with.
Is there a relationship between (1) gender, (2) racial identification, (3) income/receiving free/reduced lunch and amount/percentage of proficient RLA scores within a state?

In [ ]:
correlate2 = %%sql \
SELECT A.name, A.totprofst, A.avgpctprof, B.number_of_schools, B.total_students, B.total_teachers, B.pct_reduced_lunch, B.pct_free_lunch, B.teacher_ratio, B.free_lunch, B.reduce_lunch, B.total_Native, B.pct_Native, B.total_Black, B.pct_Black, B.total_Hisp, B.pct_Hisp, B.total_Female, B.pct_Female, B.total_male, B.pct_male, B.total_White, B.pct_White, B.total_TwoPlus, B.pct_TwoPlus, B.pct_Asian, B.total_Asian \
FROM (SELECT ST.name, SP.totprofst, SP.avgpctprof \
FROM state_proficiency SP inner join stateinfo ST on upper(SP.state) = upper(ST.name) \
GROUP BY ST.name) A \
INNER JOIN \
( \
SELECT ST.name, ST.numschool as number_of_schools, ST.teachratio as teacher_ratio, ST.totTeach as total_teachers, ST.totstudent as total_students, ST.reducelunch/ST.totstudent AS pct_reduced_lunch, ST.freelunch/ST.totstudent AS pct_free_lunch, ST.freelunch as free_lunch, ST.reducelunch as reduce_lunch, ST.totTwoPl as total_TwoPlus, ST.totTwoPl/ST.totstudent as pct_TwoPlus, ST.totNative as total_Native, ST.totNative/ST.totstudent as pct_Native, ST.totAsian as total_Asian, ST.totAsian/ST.totstudent as pct_Asian, ST.totBlack as total_Black, ST.totBlack/ST.totstudent as pct_Black, ST.totHisp as total_Hisp, ST.totHisp/ST.totstudent as pct_Hisp, ST.totFemale as total_Female, ST.totFemale/ST.totstudent as pct_Female, ST.totWhite as total_White, ST.totWhite/ST.totstudent as pct_White, ST.totmale as total_male, ST.totmale/ST.totstudent as pct_male \
FROM stateinfo ST inner join school S on upper(S.state) = upper(ST.name) \
GROUP BY ST.name ) B ON A.name = B.name \

Placing items in dateframe in preparing for running regressions.

In [ ]:
corr2 = pd.DataFrame(correlate2, columns = ["state", "totprof", "pctprof", "number_of_schools","total_students", "total_teachers", "pct_reduced_lunch", "pct_free_lunch", "teacher_ratio", "free_lunch", "reduce_lunch", "total_Native", "pct_Native", "total_Black", "pct_Black", "total_Hisp", "pct_Hisp", "total_Asian", "pct_Asian", "total_Female", "pct_Female", "total_male", "pct_male", "total_White", "pct_White", "pct_TwoPlus", "total_TwoPlus"])
corr2.set_index("state", inplace=True)
corr2["reduce_lunch"] = corr2["reduce_lunch"].astype(float)
corr2["pctprof"] = corr2["pctprof"].astype(float)
corr2["totprof"] = corr2["totprof"].astype(float)
corr2["number_of_schools"] = corr2["number_of_schools"].astype(float)
corr2["total_students"] = corr2["total_students"].astype(float)
corr2["total_teachers"] = corr2["total_teachers"].astype(float)
corr2["pct_reduced_lunch"] = corr2["pct_reduced_lunch"].astype(float)
corr2["reduce_lunch"] = corr2["reduce_lunch"].astype(float)
corr2["pct_free_lunch"] = corr2["pct_free_lunch"].astype(float)
corr2["teacher_ratio"] = corr2["teacher_ratio"].astype(float)
corr2["free_lunch"] = corr2["free_lunch"].astype(float)
corr2["total_Native"] = corr2["total_Native"].astype(float)
corr2["pct_Native"] = corr2["pct_Native"].astype(float)
corr2["total_Black"] = corr2["total_Black"].astype(float)
corr2["pct_Black"] = corr2["pct_Black"].astype(float)
corr2["total_Hisp"] = corr2["total_Hisp"].astype(float)
corr2["pct_Hisp"] = corr2["pct_Hisp"].astype(float)
corr2["pct_TwoPlus"] = corr2["pct_TwoPlus"].astype(float)
corr2["total_TwoPlus"] = corr2["total_TwoPlus"].astype(float)
corr2["pct_Asian"] = corr2["pct_Asian"].astype(float)
corr2["total_Asian"] = corr2["total_Asian"].astype(float)
corr2["total_Female"] = corr2["total_Female"].astype(float)
corr2["pct_Female"] = corr2["pct_Female"].astype(float)
corr2["total_male"] = corr2["total_male"].astype(float)
corr2["pct_male"] = corr2["pct_male"].astype(float)
corr2["total_White"] = corr2["total_White"].astype(float)
corr2["pct_White"] = corr2["pct_White"].astype(float)

Checking if Data looks right...

In [ ]:
corr2.head()

### Analysis and Visualization with matplotlib and statsmodels

In [ ]:
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf

varlist = ["number_of_schools","total_students", "total_teachers", "pct_reduced_lunch", "pct_free_lunch", "teacher_ratio", "free_lunch", "reduce_lunch", "total_Native", "pct_Native", "total_Black", "pct_Black", "total_Hisp", "pct_Hisp", "total_Female", "pct_Female", "total_male", "pct_male", "total_White", "pct_White", "pct_TwoPlus" , "total_TwoPlus","pct_Asian", "total_Asian"]
for i in varlist:
    %matplotlib inline
    corr2.plot(kind='scatter', x=i, y='totprof')
    plt.show()
# formula: response ~ predictors
    est = smf.ols(formula="totprof ~ " + i, data=corr2).fit()
    print est.summary()

In [ ]:
corr3 = pd.DataFrame(correlate2, columns = ["state", "totprof", "pctprof", "number_of_schools","total_students", "total_teachers", "pct_reduced_lunch", "pct_free_lunch", "teacher_ratio", "free_lunch", "reduce_lunch", "total_Native", "pct_Native", "total_Black", "pct_Black", "total_Hisp", "pct_Hisp", "total_Asian", "pct_Asian", "total_Female", "pct_Female", "total_male", "pct_male", "total_White", "pct_White", "pct_TwoPlus", "total_TwoPlus"])
corr3["pctprof"] = corr3["pctprof"].astype(float)

In [ ]:
plt.rcParams['figure.figsize'] = (15,5)
corr3.plot(kind='bar', x='state', y='pctprof',color='DarkBlue', alpha=0.5)

In [ ]:
%matplotlib inline
import seaborn as sns
import matplotlib as plt
plt.rcParams['figure.figsize'] = (7,7)
#total = (df["totprof"])
#outofservice = (df["statusValue"] == 'Not In Service')
#ax = df[inservice].plot(kind='scatter',x='total_students',y='totprof', color='DarkBlue', label= 'Total Number of Students by State', alpha=0.5, s=(df['totalDocks']-df['availableDocks'])*4)
ax = corr2.plot(kind='scatter', x='free_lunch', y='totprof',color='#000000', label= 'Total Number of Students Recieving Free Lunch', alpha=0.5)
ax = corr2.plot(kind='scatter', x='reduce_lunch', y='totprof',color='LightBlue', ax = ax, label= 'Total Number of Students Recieving Reduced Price Lunch', alpha=0.5)

#corr2.plot(kind='scatter',x='total_students',y='totprof', color='DarkBlue', label= 'Total Number of Students by State', alpha=0.5)
total_plot = corr2.plot(kind='scatter',x='total_students',y='totprof', color='DarkBlue', ax = ax, label= 'Total Number of Students by State', alpha=0.5)
                      # color='DarkBlue', label= 'Group 1' )
total_plot.legend(bbox_to_anchor=(1.05, 1), loc=2, borderaxespad=0.)

In [ ]:
%matplotlib inline
import seaborn as sns
import matplotlib as plt
plt.rcParams['figure.figsize'] = (7,7)
ax = corr2.plot(kind='scatter', x='total_Native', y='totprof',color='#000000', label= 'Total Number of Students Identifying as Amer Indian/AK Native', alpha=0.5)

ax = corr2.plot(kind='scatter', x='total_White', y='totprof',color='Red', ax = ax, label= 'Total Number of Students Identifying as White', alpha=0.5)
ax = corr2.plot(kind='scatter', x='total_Black', y='totprof',color='Orange', ax = ax, label= 'Total Number of Students Identifying as Black', alpha=0.5)
ax = corr2.plot(kind='scatter', x='total_Asian', y='totprof',color='Yellow', ax = ax, label= 'Total Number of Students Identifying as Asian', alpha=0.5)
ax = corr2.plot(kind='scatter', x='total_Hisp', y='totprof',color='Green', ax = ax, label= 'Total Number of Students Identifying as Hispanic', alpha=0.5)
ax = corr2.plot(kind='scatter', x='total_TwoPlus', y='totprof',color='Purple', ax = ax, label= 'Total Number of Students Identifying as of Two or More Races', alpha=0.5)

total_plot = corr2.plot(kind='scatter',x='total_students',y='totprof', color='DarkBlue', ax = ax, label= 'Total Number of Students by State')
total_plot.legend(bbox_to_anchor=(1.05, 1), loc=2, borderaxespad=0.)

In [ ]:
%matplotlib inline
import seaborn as sns
import matplotlib as plt
plt.rcParams['figure.figsize'] = (7,7)

ax = corr2.plot(kind='scatter', x='total_Female', y='totprof',color='Pink', label= 'Total Number of Students Identifying as Female')
ax = corr2.plot(kind='scatter', x='total_male', y='totprof',color='Blue', ax = ax, label= 'Total Number of Students Identifying as Male', alpha=0.5)

total_plot = corr2.plot(kind='scatter',x='total_students',y='totprof', color='DarkBlue', ax = ax, label= 'Total Number of Students by State')
total_plot.legend(bbox_to_anchor=(1.05, 1), loc=2, borderaxespad=0.)

In [ ]:
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf

varlist = ["number_of_schools","total_students", "total_teachers", "pct_reduced_lunch", "pct_free_lunch", "teacher_ratio", "free_lunch", "reduce_lunch", "total_Native", "pct_Native", "total_Black", "pct_Black", "total_Hisp", "pct_Hisp", "total_Female", "pct_Female", "total_male", "pct_male", "total_White", "pct_White", "pct_TwoPlus" , "total_TwoPlus","pct_Asian", "total_Asian"]
for i in varlist:
    %matplotlib inline
    corr2.plot(kind='scatter', x=i, y='pctprof')
    plt.show()
# formula: response ~ predictors
    est = smf.ols(formula="pctprof ~ " + i, data=corr2).fit()
    print est.summary()

Are there differences in percentage of proficient scores in terms of gender? Answer: Nurp.

In [80]:
from scipy.stats import ttest_ind

ttest1 = pd.DataFrame(ttest_gender, columns = ["gender", "pctprof"])
ttest1["pctprof"] = ttest1["pctprof"].astype(float)
Female = ttest1[ttest1['gender']=='Female']
Male = ttest1[ttest1['gender']=='Male']

ttest_ind(Female["pctprof"], Male["pctprof"])

Ttest_indResult(statistic=0.37660316947284045, pvalue=0.70723579245426405)

Find the mean pctprof of Females and Males.

In [107]:
prof_by_gender = %%sql \
select avgpctMprof, avgpctFprof \
from state_proficiency \

53 rows affected.

In [108]:
FindMean = pd.DataFrame(prof_by_gender, columns = ["avgpctMprof", "avgpctFprof"])
FindMean["avgpctFprof"] = FindMean["avgpctFprof"].astype(float)
FindMean["avgpctMprof"] = FindMean["avgpctMprof"].astype(float)

In [109]:
fem_prof = []
for i in FindMean["avgpctFprof"]:
        fem_prof.append(i.astype(float))
print fem_prof

[65.614199999999997, 40.488900000000001, 57.724899999999998, 69.847399999999993, 39.947099999999999, 50.311700000000002, 42.064, 63.915399999999998, 59.433, 43.920400000000001, 54.800199999999997, 56.264800000000001, 67.710800000000006, 51.754600000000003, 64.684600000000003, 72.534199999999998, 62.892200000000003, 39.079099999999997, 66.512, 61.928899999999999, 57.4681, 56.361600000000003, 62.9206, 56.999699999999997, 53.471299999999999, 56.417999999999999, 53.253599999999999, 24.045500000000001, 55.027299999999997, 50.216200000000001, 61.293599999999998, 61.196800000000003, 45.990000000000002, 51.292299999999997, 64.648099999999999, 41.366599999999998, 62.827800000000003, 54.630299999999998, 60.378799999999998, 70.169899999999998, 46.540100000000002, 67.294700000000006, 68.2239, 35.191600000000001, 50.069499999999998, 54.305300000000003, 66.192400000000006, 62.645499999999998, 62.313400000000001, 58.685200000000002, 47.322800000000001, 56.363399999999999, 51.718899999999998]

In [110]:
mal_prof = []
for i in FindMean["avgpctMprof"]:
        mal_prof.append(i.astype(float))
print mal_prof

[70.503699999999995, 43.859200000000001, 57.368000000000002, 62.382899999999999, 32.9176, 44.791400000000003, 54.674799999999998, 67.045400000000001, 54.706200000000003, 37.7164, 52.393500000000003, 69.161199999999994, 61.884999999999998, 63.343000000000004, 64.255399999999995, 70.863100000000003, 64.3309, 45.524799999999999, 60.244, 54.0535, 53.395400000000002, 64.858699999999999, 57.486600000000003, 61.817900000000002, 52.158900000000003, 45.2072, 46.000999999999998, 32.314900000000002, 55.677500000000002, 46.786999999999999, 59.993400000000001, 59.503399999999999, 38.7363, 47.190899999999999, 59.838900000000002, 47.3384, 66.2697, 54.032200000000003, 62.526400000000002, 65.314599999999999, 37.442100000000003, 63.403500000000001, 63.470500000000001, 38.010599999999997, 42.825400000000002, 62.367899999999999, 67.938800000000001, 57.491599999999998, 70.1173, 54.769599999999997, 34.841299999999997, 63.722799999999999, 53.067999999999998]

In [111]:
print "male mean", sum(mal_prof) / float(len(mal_prof))

male mean 55.0554471698

In [112]:
print "female mean", sum(fem_prof) / float(len(fem_prof))

female mean 55.8164377358